body {background-color: rgb(218, 235, 238);}
h1   {color: black;}
p    {color: rgb(19, 17, 17);
      margin-left: 24cm;
      margin-top: 3cm;
       font-size: 1.5cm;
       font-style: oblique;
      }
.card{margin-left: 13cm;
      box-align :centre;
      margin-top: 3cm;
      width: 25cm;
      height: 20cm;
     

}      

    
