
 <h2 style ="text-align: center;margin-top:10mm;">Fraud Alerts</h2>
 <p style="margin-left:200px;margin-right:200px;margin-top:20px;">The Cute Cut understands the importance of your privacy. We will never ask job candidates to pay any kind of fee, make cash or check advancements, cash checks from outside sources or make an investment in any product or service. Nor would we ask our candidates to supply information, such as credit card numbers, banking PIN numbers, by email or online.

  Please be aware that if you receive requests like the ones described above, it is likely a form of fraud. Please contact us if your think someone is using Cute Cut's name to seek this information from you.</p>

<h2  style ="text-align:center;margin-top:10mm;">What to do if you suspect fraud</h2>
<p style="margin-left:200px;margin-right:200px;margin-top:20px;">Please contact our Quality Assurance Department at quality.manager@cc.com if you receive any suspicious communications that reference Robert Half or any of our staffing divisions. Suspicious communications include those that ask you to reveal personal information, either via email or on a website, or that that ask you to cash checks or pay any sort of fee. By letting us know about suspicious communications, you can help us prevent others from being deceived.</p>

<h2 style ="margin-left:200px;margin-top:8mm;">Additional resources
  </h2>
  <p style="margin-left:200px;margin-right:200px;margin-top:20px;">Federal Trade Commission: Division of Marketing Practices<br> <a style="color: rgb(192, 5, 5);" href="http://www.ftc.gov/bcp/menus/consumer/tech/privacy.shtm">http://www.ftc.gov/bcp/menus/consumer/tech/privacy.shtm</a></p>
  <p style="margin-left:200px;margin-right:200px;margin-top:20px;">Federal Trade Commission: Fighting Back Against Identity Theft<br>  <a style="color: rgb(192, 5, 5);" href="http://www.ftc.gov/bcp/edu/microsites/idtheft/">http://www.ftc.gov/bcp/menus/consumer/tech/privacy.shtm</a></p>
  <p style="margin-left:200px;margin-right:200px;margin-top:20px;">Federal Trade Commission: How Not to Get Hooked by a Phishing Scam<br>  <a style="color: rgb(192, 5, 5);" href="http://www.ftc.gov/bcp/edu/microsites/idtheft/">http://www.ftc.gov/bcp/edu/pubs/consumer/alerts/alt127.shtm</a></p>
