

<div class="image">

    <img style = "width:60cm;height:10cm;;-webkit-filter: opacity(.6);filter: opacity(.6);"src="./assets/6.jpg" alt="" />
    
    <h2  style ="text-align:center;margin-top:10mm;">We want to hear from you!</h2>
    <p style="margin-left:200px;margin-right:200px;margin-top:20px;text-align:center;">If you would like more information on the services we provide, or would like to know how we can assist you with your particular application, please feel free to email us. We always look forward to comments and suggestions.<br><a href="mailto:cutecut@gmail.com" target="_top"><h5 style="color: rgb(177, 6, 6)">Send Mail</h5></a>
    </p>

  
    
</div>
