  
<h2  style ="text-align:center;margin-top:30mm;">Terms of Use</h2>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>1.ACCEPTANCE</b></p>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>2. ELIGIBILITY</b></p>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>3.LICENSE</b></p>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>4.USER SUBMITTED MATERIALS</b></p>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>5.RULES OF CONDUCT</b></p>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>6.ACCOUNT AND PASSWORD</b></p>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>7.THIRD PARTY MATERIALS</b></p>
<p style="margin-left:400px;margin-right:400px;margin-top:20px;"><b>8.GENERAL</b></p>
